@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');

html,
body {
  min-height: 100%;
}

body {
  background-color: var(--prim-clr);
  background-image: url("./../img/home-bg.jpg");
  background-color: aliceblue;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h2 {
  color: white;
  font-family: 'Staatliches', cursive;
  padding-top: 7%
}

.text {
  margin-top:2.5em;
}

#amazon-habilities {
  margin-left: 5%;
  text-align: left;
}

#barbarian-habilities {
  text-align: right;
  margin-right: 5%
}

.amazon-img {
  height: 300px;
}

.barbarian-img {
  height: 300px;

}

.centerlogo {
  width: 500px;
  height: 100%;
}

.home {
  background-image: url("./../img/home-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  padding-bottom: 2%;
  width: 100vw;
  height: 100vh;
}

canvas {
  margin-top: auto;
  background-color: blanchedalmond;
  /* background-image: url("./../img//walls/wall3.png");
  background-repeat: no-repeat; */
  border: 1px solid black;
  max-height: 100vh;
  /* max-width: 100vw;  */
}

.hideScreen {
  display: none;
}

.player h1 {
  text-align: center;
  font-family: 'Staatliches', cursive;
  font-size: 2.5rem;
  letter-spacing: 6px;
  font-weight: bold;
  color: lightgrey;
  text-shadow: 0 0 8px black;
  margin-top: -10%;
  margin-bottom: 5%;
}

/*  */

button {
  color: #617537;
  background-color: #c2c2c2;
  transition: 1s;
  border: 2px solid;
  font-family: 'Staatliches', cursive;
  letter-spacing: 5px;
  line-height: 1;
  margin: 0.5em;
  margin-left: 0em;
  padding: 1em 2em;
}

button:hover {
  background-color: #617537;
  color: #fff;
}

#scorescreen h2,
#restart {
  text-align: center;
  width: 90%;
  color: #617537;
  background-color: #d8d8d8;
  border: 2px solid;
  font-size: 17px;
  letter-spacing: 5px;
  line-height: 1;
  padding: 1em 1em;
  margin-top: 1em;
}

.blink_me {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#gameover {
  height: 100vh
}

#gameover img {
  height: 70vh;
}

.instructions {
  color: #000;
  padding: 1em 1em;
  background-color: rgba(255, 255, 255, 0.5);
}

#finalScore {
  background-color: #617537;
  color: #c2c2c2;
  transition: 7s;
  width: auto;
  border: 2px solid #c2c2c2;
  font-family: 'Staatliches', cursive;
  letter-spacing: 5px;
  line-height: 1;
  margin: 0.5em;
  margin-left: 0em;
  padding: 1em 2em;
}